.selection{
    display: flex;
    .Montres{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        img{
            width: 12%;
            transition: 2s;
            
            &:hover{
                width: 13%;
                transition: 2s;
               
            }
        }
    }
}