@font-face {
    font-family:poppins-b ;
    src: url("../assets/Fonts/Poppins-Black.ttf");
}
@font-face {
    font-family: poppins-b-i;
    src: url("../assets/Fonts/Poppins-BlackItalic.ttf");
}
@font-face {
    font-family: poppins-bo;
    src: url("../assets/Fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: poppins-bo-i;
    src: url("../assets/Fonts/Poppins-BoldItalic.ttf");
}
@font-face {
    font-family: poppins-ex-b;
    src: url("../assets/Fonts/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: poppins-ex-l;
    src: url("../assets/Fonts/Poppins-ExtraLight.ttf");
}
@font-face {
    font-family: poppins-l;
    src: url("../assets/Fonts/Poppins-Light.ttf");
}
@font-face {
    font-family:ax ;
    src: url("../assets/Fonts/CinzelDecorative-Regular.ttf");
}